{% block content %}
<style>
  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
  }
  p{
    margin-top: 10px;
  }
  .button-container {
    margin-top: 10px;
  }
  .button-container a {
    text-decoration: none;
    color: inherit;
  }
</style>
<div class="center-content">
  <h1>Password Change Successful</h1>
  <p>Your password has been changed successfully!</p>
  <div class="button-container">
    <button type="button">
      <a href="{% url 'auth_login' %}">Login</a>
    </button>
  </div>
</div>
{% endblock %}
